doctype html
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Testing Plataforma | #{pagina}
        link(rel="stylesheet", href="/css/app.css")
    body(class="min-h-screen flex items-center justify-center bg-gray-100")

        main(class="w-full max-w-md px-2")
            block contenido